@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
  color: #eee;
  font-family: 'Inter', sans-serif;
}

.btn-gold {
  background-color: #D4AF37;
  color: #111;
  font-weight: bold;
  transition: all 0.3s;
}

.btn-gold:hover {
  background-color: #b5942f;
}
